[submodule "threadx"]
	path = threadx
	url = https://github.com/nam-ng/threadx
	branch = v6.1.3_rel
[submodule "netxduo"]
	path = netxduo
	url = https://github.com/nam-ng/netxduo
	branch = v6.1.3_rel
[submodule "filex"]
	path = filex
	url = https://github.com/nam-ng/filex
	branch = v6.1.3_rel
