[submodule "threadx"]
	path = threadx
	url = https://github.com/nam-ng/threadx
[submodule "netx"]
	path = netx
	url = https://github.com/nam-ng/netx
[submodule "netxduo"]
	path = netxduo
	url = https://github.com/nam-ng/netxduo
[submodule "filex"]
	path = filex
	url = https://github.com/nam-ng/filex
[submodule "usbx"]
	path = usbx
	url = https://github.com/nam-ng/usbx
